* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerpart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: aliceblue;
  margin-top: 2rem;
  text-align: center;
}

.header__right button {
  padding: 1rem 3rem;
  background-color: #0693e3;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
}

.header__right button a {
  text-decoration: none;
  color: white;
}

.header__middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-image {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
}

.hero {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #ff6900;
  margin-bottom: 3rem;
}

.hero__right {
  width: 50%;
}

.hero__left {
  width: 50%;
}

.hero h1 {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  padding-bottom: 4rem;
}

.hero ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4rem;
  font-size: 3rem;
}

.hero ul a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.hero ul a:hover {
  background-color: #0693e3;
}

.header__bar {
  display: none;
}

@media screen and (max-width: 872px) {
  .header__right button {
    text-align: center;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.4rem;
  }
  .header__middle {
    display: none;
  }
  .hero__left img {
    width: 300px;
  }
  .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .hero h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .hero ul {
    font-size: 1.2rem;
  }
  .hero__right {
    width: 100%;
  }
  .hero {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .header__bar {
    display: block;
  }
  .header__right {
    display: none;
  }
}
footer {
  background-color: #2dd6c1;
  height: 70vh;
  text-align: center;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.footer__logo img {
  margin-top: 4rem;
}

.footercontent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.footercontent h1 {
  padding: 2rem 0;
}

.footercontent h3 {
  padding: 1rem 0;
}

footer button a {
  text-decoration: none;
  color: white;
}

.btn-top button {
  padding: 1rem 3rem;
  background-color: #0693e3;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
}

.footer-input button {
  padding: 1rem 3rem;
  background-color: #0693e3;
  font-size: 2rem;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

footer input {
  padding: 1.6rem 3rem;
  font-size: 1rem;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.btn-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
}

footer p {
  word-spacing: 7px;
  padding: 2rem 0;
  font-size: 1.2rem;
}

.footer__center {
  text-align: center;
}

.footer {
  width: 30%;
}

@media screen and (max-width: 872px) {
  .footercontent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer {
    height: 90vh;
    width: 100%;
  }
  .footerpart {
    width: 100%;
  }
  .footercontent {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
  footer input {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  .footer-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .footer-input button {
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 10px;
  }
  footer p {
    font-size: 1rem;
  }
  .btn-top button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}
.headerabout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  border-bottom: 3px solid #0693e3;
  background-color: #2dd6c1;
  height: 20vh;
}

.about__left {
  margin-left: 4rem;
}

.abouthero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.about__center ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.about__center ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

.about__center ul a:hover {
  background-color: #0693e3;
  color: white;
  border-radius: 30px;
}

.mainabout {
  background: url(../../../images/about.jpg) no-repeat center center/cover;
  height: 70vh;
}

.mainabout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.abouthero h1 {
  margin-top: 2rem;
  color: #0693e3;
  animation: slideInLeft 8s ease-in;
}

.aboutcontent {
  width: 70%;
  margin: 0 auto;
}

.aboutcontent h1 {
  font-size: 3rem;
  color: #0693e3;
}

.aboutcontent h3 {
  font-size: 2rem;
  padding: 1rem 0;
}

.aboutcontent p {
  font-size: 1.6rem;
  word-spacing: 5px;
}

.vision {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #2dd6c1;
}

.mission {
  width: 45%;
}

.aboutvision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
}

.aboutvision h1 {
  font-size: 3rem;
}

.aboutvision h3 {
  font-size: 2rem;
}

.aboutvision h5 {
  font-size: 1.6rem;
}

.aboutvision p {
  font-size: 1.2rem;
  word-spacing: 5px;
  font-weight: bold;
}

.aboutcenter {
  padding: 4rem 0;
  width: 70%;
  margin: 0 auto;
}

.aboutcenter h1 {
  text-align: center;
  font-size: 3rem;
}

.aboutcenter p {
  font-size: 1.6rem;
}

.aboutimage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
}

.aboutimage h3 {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

.aboutimage p {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.ceo {
  position: absolute;
  bottom: 50%;
  left: 65%;
}

.about__bar {
  display: none;
}

@media screen and (max-width: 872px) {
  .about__center ul a {
    font-size: 1rem;
  }
  .vision {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .vision img {
    width: 350px;
  }
  .vision p {
    width: 100%;
  }
  .vision h3 {
    font-size: 2.4rem;
  }
  .aboutvision h3 {
    width: 100%;
  }
  .mission {
    width: 100%;
  }
  .aboutcontent {
    width: 100%;
  }
  .about__right {
    display: none;
  }
  .headerabout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .aboutcenter {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .about__bar {
    display: block;
  }
  .about__center ul a {
    display: none;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}
.header__nav {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../images/medicene.jpg) no-repeat center center/cover;
  height: 70vh;
  margin-top: 5rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav__left img {
  margin-top: 3rem;
}

.header__right ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 3rem;
  border-bottom: 4px solid #ff6900;
}

.header__rigth ul li {
  list-style-type: none;
}

.header__right ul a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.header__right ul a:hover {
  border-bottom: 8px solid #2dd6c1;
  color: #0693e3;
}

.navcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.navcontent h1 {
  font-size: 3rem;
  color: #2dd6c1;
  font-weight: bold;
}

.navcontent h2 {
  font-size: 2rem;
  color: #0693e3;
  font-weight: bold;
}
.navcontent video {
  margin-top: -6rem;
}

.navhero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.navhero__left {
  width: 30%;
  height: 45vh;
  text-align: center;
  background-color: #2dd6c1;
  border: 6px solid lightgrey;
  border-radius: 10%;
  margin-bottom: 4rem;
}

.navcontainer h4 {
  color: #0693e3;
  text-align: center;
}

.navcontainer h1 {
  color: #0693e3;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  animation-name: slideInLeft;
  animation-duration: 8s;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform: translateX(-100px);
}

.navcontainer h2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.navcontainer p {
  font-size: 1.3rem;
  word-spacing: 3px;
  padding: 1rem 0;
}

.navcontainer button {
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: #0693e3;
  border: none;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out 0s;
}

.navcontainer button:hover {
  transform: translateY(-10PX);
}

.header__bar {
  display: none;
}

@media screen and (max-width: 872px) {
  .header__nav {
    height: 90vh;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .header__right ul a {
    font-size: 1.2rem;
  }
  .navhero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .navhero__left {
    width: 100%;
  }
  .navcontent h1 {
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  .navcontent h2 {
    font-size: 1.8rem;
  }
  .navcontainer h4 {
    margin-top: 5rem;
    font-size: 1.4rem;
  }
  .navcontainer h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 520px) {
  .header__bar {
    display: block;
    color: #0693e3;
  }
  .header__right ul a {
    display: none;
  }
}
.hero1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: 4rem;
}

.hero__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 9rem;
  margin-bottom: 10rem;
}

.container__contact {
  margin-top: 30rem;
}

.container__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.container__left {
  background-color: #00d084;
  text-align: center;
  height: 20vh;
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
}

input[type=text] {
  border-radius: 6px;
  border: 3px solid lightgray;
  width: 100%;
  height: 50px;
}

.container__right input {
  padding: 2rem 4rem;
  font-size: 1.5rem;
}

.container__right [type=submit] {
  padding: 2rem 3rem;
  background-color: #0693e3;
  border-radius: 15px;
}

.container__right textarea {
  padding: 4rem 8rem;
}

@media screen and (max-width: 872px) {
  .header__list ul a {
    font-size: 1.5rem;
  }
  .hero1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .hero__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .container__contact {
    width: 100%;
  }
  .container__right {
    margin-top: 5rem;
  }
  .container__hero img {
    width: 800px;
  }
  .container__image img {
    width: 50px;
  }
}

  background-color: #2dd6c1;
  width: 30%;
  height: 30vh;
}
.container {
  width: 90%;
  margin: 0 auto;
}