@use "./utilities/base";
@use "./pages/homepage/header";
@use "./pages/homepage/footer";
@use "./pages/about/about";
@use "./pages/services/services";

@use "./pages/contact/contact";*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@use "./pages/contact/contact";
@use "./pages/prescriptions/_prescriptions";

.container{
    width: 90%;
    margin: 0 auto;
}
