@use "../../utilities/mixin" as *;
@use "../../utilities/variables" as *;



.headerpart{
    @include flex(space-between,center);
    background-color: aliceblue;
    margin-top: 2rem;
    text-align: center;
    
}
.header__right button{
    padding: 1rem 3rem;
    background-color: $cyan-blue;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
}
.header__right button a{
    text-decoration: none;
    color: white;
   
}
.header__middle{
    @include flex(center,center);
}
.header-image{
  height: 100px;
  width: 100px;
  border-radius:20px;
  text-align: center;
}
.hero{
    margin-top: 3rem;
    @include flex(space-between,center);
    width: 100%;
    height: auto;
    background-color: $orange;
    margin-bottom: 3rem;
   
}
.hero__right{
    width: 50%;
}
.hero__left{
    width: 50%;
}
.hero h1{
    font-size: 4rem;
    color: white;
    font-weight: bold;
    padding-bottom: 4rem ;
}
.hero ul{
    list-style-type: none;
    @include flex(space-between,center,column);
    gap: 4rem;
    font-size: 3rem;

}
.hero ul a{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid black;
}
.hero ul a:hover{
    background-color: $cyan-blue;
  
}
.header__bar{
    display: none;
}
@media screen and (max-width: 872px){
    .header__right button{
        text-align: center;
        padding: 1rem 1rem;
        @include flex(center,center);
        font-size:1.4rem;
    }
    .header__middle{
        display: none;
    }
    .hero__left img{
        width: 300px;
    }
    .hero{
        @include flex(space-around,center,column);
    }
    .hero h1{
        font-size: 2rem;
        padding-bottom: 2rem;
        text-align: center;

    }
    .hero ul{
        font-size: 1.2rem;
    }
    .hero__right{
        width: 100%;
    }
    .hero{
        width: 100%;
    }
}
@media screen and (max-width: 400px){
.header__bar{
    display: block;
}
.header__right{
display: none;
}
}
  
