@use "../../utilities/mixin" as *;
@use "../../utilities/variables" as *;
.hero1 {
  @include flex(space-around, center);
}

.hero__container {
  @include flex(space-around, center);
  margin-top: 30rem;
}
.container__left{
  @include flex(center,center);
  gap: 2rem;
  background-color: $green-cyan;
  width: 30%;
  height: 30vh;
}
