@use "../../utilities/mixin" as *;
@use "../../utilities/variables" as *;

.headerabout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  border-bottom: 3px solid #0693e3;
  background-color: #00d084;
}

.abouthero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.about__center ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.about__center ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

.about__center ul a:hover {
  background-color: #0693e3;
  color: white;
  border-radius: 30px;
}


.hero1 {
  @include flex(space-around, center);
  margin-top: 4rem;
}

// .container__left{
//   margin-bottom: 20rem;

.hero__container {
  @include flex(space-around, center);
  margin-top: 9rem;
  margin-bottom: 10rem;
  margin-top: 30rem;
}
.container__contact {
  @include flex(center, center);
  gap: 2rem;
  
}
.container__left{
  background-color: $green-cyan;
  text-align: center;
  height: 20vh;
  width: 30vh;
  @include flex(center,center,column);
  border-radius: 20px;
  }

input[type="text"] {
  border-radius: 6px;
  border: 3px solid lightgray;
  width: 100%;
  height: 50px;
}
.container__right input {
  padding: 2rem 4rem;
  font-size: 1.5rem;
}
.container__right [type="submit"] {
  padding: 2rem 3rem;
  background-color: $cyan-blue;
  border-radius: 15px;
}
.container__right textarea {
  padding: 4rem 8rem;
}
@media screen and (max-width: 872px) {
  .header__list ul a {
    font-size: 1.5rem;
  }
  .hero1 {
    @include flex(space-around, center, column);
    max-width: 100%;
  }
  .hero__container {
    @include flex(space-around, center, column);
    gap: 2rem;
  }
  .container__contact{
    width: 100%;
  }
  .container__right {
    margin-top: 5rem;
  }
  .container__hero img {
    width: 800px;
  }
  .container__image img {
    width: 50px;
  }
}
